@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "ChaletLondon";
    src: url("https://runtime.fivem.net/temp/ChaletLondonNineteenSixty.otf");
  }

  @font-face {
    font-family: "ChaletComprime";
    src: url("https://runtime.fivem.net/temp/chaletcomprime-colognesixty-webfont.ttf");
    size-adjust: 130%;
  }

  html {
    font-size: 21px;
    user-select: none;
  }
}
