@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "ChaletLondon";
    src: url("./assets/ChaletLondonNineteenSixty.ttf");
    font-weight: normal;
  }

  @font-face {
    font-family: "ChaletComprime";
    src: url("./assets/ChaletComprimeCologneSixty.ttf");
    font-weight: normal;
    size-adjust: 140%;
  }

  html {
    font-size: 20px;
    user-select: none;
  }
}
